@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600&display=swap');

:root {

    --background_color: #11192E;
    --font_color1: #002C53;
    --font_color2: #9DDBFD;
    --font_family: "Barlow Condensed", sans-serif;
    --cor1: #000000
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/tecnologia-4k-4000-x-2500-jhhwwcbe8m7ilyau.jpg);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 900px;
}

.profile_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 0px;
    gap: 4px;
}

.header_style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 40px;
}

.profile_pic {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    user-select: none;
    margin-bottom: 20px;
}

.my_name {
    font-family: var(--font_family);
    color: var(--cor1);
    font-weight: 800;
    font-style: normal;
    font-size: 28px;
    user-select: none;
    margin-bottom: 10px;
}

.carreer {
    font-family: var(--font_family);
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    color: var(--cor1);
    user-select: none;
    margin-bottom: 20px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

/* Github Button */

.Git_btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
}

.GitContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 7px;
    transition: all .3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
}

.GitBG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #181818;
    z-index: -1;
    border-radius: 7px;
    pointer-events: none;
    transition: all .3s;
}

.Git_btn:hover .GitBG {
    transform: rotate(35deg);
    transform-origin: bottom;
}

.Git_btn:hover .GitContainer {
    background-color: rgba(156, 156, 156, 0.466);
    backdrop-filter: blur(4px);
}

/* Linkedin Button */

.Linkedin_btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
}

.LinkedinContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #0077b5;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
}

.Linkedin_btn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
}

.Linkedin_btn:hover .LinkedinContainer {
    border: 1px solid rgba(216, 216, 216, 0.466);
    background-color: rgba(190, 190, 190, 0.466);
    backdrop-filter: blur(4px);
}

.about_me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: var(--font_family);
    font-weight: bold;
    color: var(--cor1);
    user-select: none;
    
}

.h2_tittle {
    margin-bottom: 16px;
}

.about_me p {
    font-weight: 200;
    font-weight: bold;
}

.projects_presentation {
    font-family: var(--font_family);
    color: var(--cor1);
}

.disney-tittle {
    font-family: var(--font_family);
    color: black;
    margin-bottom: 10px;
}

.pagina_cursos{
    font-family: var(--font_family);
    color: var(--cor1);
    margin-bottom: 10px;
}

.iforgot{
    font-family: var(--font_family);
    color: var(--cor1);
    margin-bottom: 10px;
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
    user-select: none;
}

.disney-img {
    border-radius: 10px;
    height: 300px;
    width: 580px;
}

.curso-img {
    border-radius: 10px;
    height: 300px;
    width: 580px;
}

.iforgot-img {
    border-radius: 10px;
    height: 300px;
    width: 580px;
}

.google-img {
    border-radius: 10px;
    height: 300px;
    width: 580px;
}

.google-site {
    font-family: var(--font_family);
    color: var(--cor1);
    margin-bottom: 10px;
}

.icons-tittle{
    font-family: var(--font_family);
    color: var(--cor1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    user-select: none;
}

.icones {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: nowrap;
    width: 900px;
    margin-top: 30px;
    gap: 30px;
    user-select: none;
    margin-bottom: 40px;
}


.python-ico {
    height: 80px;
    width: 80px;
}

.html-ico, .css-ico, .git-ico, .sql-ico {
    height: 80px;
    width: 80px;
}

.sql-ico {
    border-radius: 50%;
}

.html, .css, .python, .git, .mysql {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    font-family: var(--font_family);
    font-size: 20px;
    color: var(--cor1);
    user-select: none;
    font-weight: bold;
}
