@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header {
    
} */

body {
    background-color: darkgray;
}

.profile_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
    gap: 4px;
}

.header_style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 40px;
}

.profile_pic {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    user-select: none;
    margin-bottom: 20px;
}

.my_name {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 28px;
    user-select: none;
    margin-bottom: 10px;
}

.carreer {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    user-select: none;
    margin-bottom: 20px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

/* Github Link */

.Git_btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 50%; /*Alterar Depois*/
    cursor: pointer;
    transition: all .3s;
}

.GitContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 50%;  /*Alterar depois*/
    transition: all .3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
}

.GitBG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #181818;
    z-index: -1;
    border-radius: 50%;  /*Alterar depois*/
    pointer-events: none;
    transition: all .3s;
}

.Git_btn:hover .GitBG {
    transform: rotate(35deg);
    transform-origin: bottom;
}

.Git_btn:hover .GitContainer {
    background-color: rgba(156, 156, 156, 0.466);
    backdrop-filter: blur(4px);
}

/* Linkedin Button */

.Linkedin_btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
}

.LinkedinContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #0077b5;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
}

.Linkedin_btn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
}

.Linkedin_btn:hover .LinkedinContainer {
    border: 1px solid rgba(216, 216, 216, 0.466);
    background-color: rgba(190, 190, 190, 0.466);
    backdrop-filter: blur(4px);
}

